<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <display-name>Sample JSF application</display-name>

    <context-param>
        <param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>
        <param-value>client</param-value>
<!--    consumes memory on the server -->
<!--        <param-value>server</param-value>-->
    </context-param>


<!--  not crucial, but why won't we keep it ? -->
    <context-param>
        <param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>
        <param-value>.xhtml</param-value>
    </context-param>
<!--  not crucial, but why won't we keep it ? -->
    <context-param>
        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>
        <param-value>true</param-value>
    </context-param>

<!--    not needed now, but might be useful, we need to google it -->
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.ENABLE_WEBSOCKET_ENDPOINT</param-name>-->
<!--        <param-value>true</param-value>-->
<!--    </context-param>-->

<!--     Thats how Service bean works  -->
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
        <!--        <param-value>Production</param-value>-->
<!--        I used pom file property on a maven profile to set it but not sure how that worked to change next line ... -->
        <!--        <param-value>${jsfProjectStage}</param-value>-->
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>/faces/*</url-pattern>
        <!--        I don't like the below as user than sticks to all links w/o "/faces/" and
                    requestContextPath breaks, see UserAuthenticationPhaseListener.java -->
        <!--        <url-pattern>*.xhtml</url-pattern> &lt;!&ndash; also prevents access to JSF pages source &ndash;&gt;-->
        <!--        so we use restriction rules instead -->
    </servlet-mapping>


<!--    I was thinking this is important but it seems not to make any difference -->
    <!--    this is not really necessary, see
    https://eclipse-ee4j.github.io/jersey.github.io/documentation/latest/deployment.html#deployment.servlet.3
      but provides a way say to override @ApplicationPath("/api")-->

<!--&lt;!&ndash; otherwise rest api is at  /faces/api/ i.e. &ndash;&gt;-->
<!--&lt;!&ndash;    http://localhost:8080/mydemofullweb-1.0-SNAPSHOT/faces/api/hello-world &ndash;&gt;-->
<!--    <servlet>-->
<!--        <servlet-name>com.example.mydemofullweb.HelloApplication</servlet-name>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>com.example.mydemofullweb.HelloApplication</servlet-name>-->
<!--        <url-pattern>/api/*</url-pattern>-->
<!--    </servlet-mapping>-->

    <welcome-file-list>
        <welcome-file>faces/About.xhtml</welcome-file>
        <!-- take a look at this file :), it seems to forward to faces/Documents.xhtml via html headers -->
        <!--        <welcome-file>index.html</welcome-file>-->
        <!--        <welcome-file>/</welcome-file>-->
    </welcome-file-list>

    <session-config>
        <!--        two days    -->
        <session-timeout>5760</session-timeout>
    </session-config>

</web-app>